<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta name="theme-color" content="white"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
        
        
        <!------------SEO-->
        <!--Type--><meta property="og:type" content="website"/>
        <!--Title--><meta property="og:title" content="Dweller's Empty Path | DialogueSystem.js Templates"/>
        <!--URL--><meta property="og:url" content="https://calmbubbles.github.io/works/js-plugins/DialogueSystem/templates/dep"/>
        <!--Locale--><meta property="og:locale" content="en_US"/>
        <!--Keywords--><meta name="keywords" content="CalmBubbles, documentation, manual, JavaScript, html, js, DialogueSystem, dialogue, system">
        
        <!-------Description-->
        <meta property="og:description" content="A template based from the game &quot;Dweller's Empty Path&quot;"/>
        <meta name="description" content="A template based from the game &quot;Dweller's Empty Path&quot;"/>
        
        <!-------Image-->
        <meta property="og:image" content="https://calmbubbles.github.io/img/js-plugins.png"/>
        <!--Width--><meta property="og:image:width" content="440"/>
        <!--Height--><meta property="og:image:height" content="440"/>
        <!--Alt--><meta property="og:image:alt" content="Dweller's Empty Path | DialogueSystem.js Templates"/>
        
        <!-------Twitter Card-->
        <!--Type--><meta name="twitter:card" content="summary"/>
        <!--Title--><meta name="twitter:title" content="Dweller's Empty Path | DialogueSystem.js Templates"/>
        <!--Description--><meta name="twitter:description" content="A template based from the game &quot;Dweller's Empty Path&quot;"/>
        <!--Image--><meta name="twitter:image" content="https://calmbubbles.github.io/img/js-plugins.png"/>
        
        
        <!------------Site-->
        <!--Title--><title>Dweller's Empty Path | DialogueSystem.js Templates</title>
        <!--URL--><link rel="canonical" href="https://calmbubbles.github.io/works/js-plugins/DialogueSystem/templates/dep"/>
        
        <!-------Favicon-->
        <link rel="icon" sizes="256x256" href="/icons/js-plugins.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/icons/js-plugins.ico" type="image/x-icon"/>
        
        <!------------Styles-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <link href="/styles/rules.css" rel="stylesheet" type="text/css">
        <style>

#arrow
{
    background: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    padding: 6px;
    vertical-align: bottom;
    margin-left: 4px;
}

#arrow img
{
    width: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: alternate arrow 0.75s steps(2, jump-none) infinite;
    pointer-events: none;
}

#download-btn
{
    padding: 15px 20px;
}

@keyframes arrow
{
    0% { bottom: 8px; }

    50% { bottom: 6px; }

    100% { bottom: 4px; }
}

        </style>
    </head>
    
    <body data-site="4" hide-menu="1">
        <noscript><div>This site requires the use of JavaScript</div></noscript>
        
        <hr class="fadeObject">
        
        <header>
            <div id="btnMenu"><img class="unselectable" src="/img/spr_btnMenu.png" alt="Menu"></div>
            <a id="icon" class="icon" href="/works/js-plugins" rel="noreferrer noopener"><img class="unselectable" src="/img/js-plugins.png" alt="js-plugins"></a>
            <a id="icon_freeaspect" class="icon" href="/works/js-plugins" rel="noreferrer noopener"><img class="unselectable" src="/img/js-plugins_freeaspect.png" alt="js-plugins"></a>
            <a id="sideicon" class="icon" href="/" rel="noreferrer noopener"><img class="unselectable" src="/img/icon.png" alt="CalmBubbles"></a>
        </header>
        
        <div id="menuSection"></div>
        
        <main>
            <h1>Dweller's Empty Path</h1>

            <div class="doc-info">
                <a href="https://tuyoki.itch.io/dwellers-empty-path" target="_blank">Original game</a> by <a href="https://tuyoki.itch.io" target="_blank">Temmie Chang</a>
            </div>

            
            <h2>Preview</h2>

            <div class="codeoutputframe" data-src="/docs-examples/js-plugins/DialogueSystem/templates/dep?s=..%2F..%2Ftemp-prev/dep" data-width="full" data-relHeight="22.5" data-refreshable="true"></div><br>


            <h2>Additional Features</h2>

            <blockquote>
                • Arrow indicator <span id="arrow"><img src="/dialogue-templates/dep/img/arrow.png"></span>
            </blockquote><br>


            <h2 id="download-btn" class="textbtn">Download</h2><br>


            <h2>Credits & Licenses</h2>
            
            <blockquote>
                <h3>
                    This template is under a <a href="/dialogue-templates/dep/LICENSE.md" target="_blank">Non-commercial License</a>
                    <br><br>
                    Original game, <a href="https://tuyoki.itch.io/dwellers-empty-path" target="_blank">Dweller's Empty Path</a> by <a href="https://tuyoki.itch.io" target="_blank">Temmie Chang</a>
                </h3><br>
                
                • <strong><a href="https://drive.google.com/drive/folders/1q_Shg_VWmffZPW6Tgrk09ncQWf1l8b32" target="_blank">DEP font</a></strong> by <a href="https://tuyoki.itch.io" target="_blank">Temmie Chang</a>, remade to font formats by <a href="https://spax.zone" target="_blank">SpiritAxolotl</a>;
                Used under <a href="/dialogue-templates/dep/fonts/DEP/LICENSE.txt" target="_blank">this license</a>
            </blockquote><br>

            <h3>Version: 1f</h3>
            <h3>Source Code: <a href="https://github.com/calmbubbles/dialogue-templates#dwellers-empty-path" target="_blank">github.com/calmbubbles/dialogue-templates#dwellers-empty-path</a></h3>
            <h3>Last Updated: July 6, 2024</h3>
        </main>
        
        <script src="/js/main.js" type="text/javascript"></script>
        <script src="/js/CodeOutputs.js" type="text/javascript"></script>
        <script src="/js/JSZip/main.js" type="text/javascript"></script>
        <script src="/js/FileSaver/main.js" type="text/javascript"></script>
        <script>

const dir = "/dialogue-templates/dep";

let fileIndex = 0;
let fileCount = 0;

async function AddFile (zip, src)
{
    const blobRequest = await fetch(`${dir}/${src}`);
    const blobData = await blobRequest.blob();

    zip.file(src, blobData);

	fileIndex++;
}

const donwloadBtn = document.querySelector("#download-btn");
donwloadBtn.onclick = async () => {
    donwloadBtn.setAttribute("clicked", 1);

    const zip = new JSZip();

    fileCount = 92;
	zip.folder("audio");
	AddFile(zip, "audio/aimottle.ogg");
	AddFile(zip, "audio/claire.ogg");
	AddFile(zip, "audio/default.ogg");
	AddFile(zip, "audio/este.ogg");
	AddFile(zip, "audio/lost_traveller.ogg");
	AddFile(zip, "audio/woof.ogg");
	AddFile(zip, "audio/yoki.ogg");
	AddFile(zip, "audio/zera.ogg");
	zip.folder("fonts");
	zip.folder("fonts/DEP");
	AddFile(zip, "fonts/DEP/LICENSE.txt");
	AddFile(zip, "fonts/DEP/main.ttf");
	zip.folder("img");
	AddFile(zip, "img/arrow.png");
	zip.folder("img/faces");
	zip.folder("img/faces/aimottle");
	AddFile(zip, "img/faces/aimottle/Angry.png");
	AddFile(zip, "img/faces/aimottle/Neutral.png");
	AddFile(zip, "img/faces/aimottle/Unsure.png");
	zip.folder("img/faces/caina");
	AddFile(zip, "img/faces/caina/Concerned.png");
	AddFile(zip, "img/faces/caina/Disapproval.png");
	AddFile(zip, "img/faces/caina/Down.png");
	AddFile(zip, "img/faces/caina/Laugh.png");
	AddFile(zip, "img/faces/caina/Look.png");
	AddFile(zip, "img/faces/caina/Neutral.png");
	AddFile(zip, "img/faces/caina/Smile.png");
	AddFile(zip, "img/faces/caina/Sneer.png");
	zip.folder("img/faces/charles");
	AddFile(zip, "img/faces/charles/Look_Down.png");
	AddFile(zip, "img/faces/charles/Neutral.png");
	AddFile(zip, "img/faces/charles/Sweat_Drop.png");
	zip.folder("img/faces/claire");
	AddFile(zip, "img/faces/claire/Aghast.png");
	AddFile(zip, "img/faces/claire/Dizzy.png");
	AddFile(zip, "img/faces/claire/Happy.png");
	AddFile(zip, "img/faces/claire/Look.png");
	AddFile(zip, "img/faces/claire/Mad.png");
	AddFile(zip, "img/faces/claire/Neutral.png");
	AddFile(zip, "img/faces/claire/Pensive.png");
	AddFile(zip, "img/faces/claire/Sad.png");
	AddFile(zip, "img/faces/claire/Sigh.png");
	zip.folder("img/faces/dragon");
	AddFile(zip, "img/faces/dragon/Dismiss.png");
	AddFile(zip, "img/faces/dragon/Familiar.png");
	AddFile(zip, "img/faces/dragon/Neutral.png");
	AddFile(zip, "img/faces/dragon/Reveal.png");
	AddFile(zip, "img/faces/dragon/Smile.png");
	AddFile(zip, "img/faces/dragon/Stern.png");
	zip.folder("img/faces/este");
	AddFile(zip, "img/faces/este/Stare.png");
	zip.folder("img/faces/fountain");
	AddFile(zip, "img/faces/fountain/Krys.png");
	AddFile(zip, "img/faces/fountain/Lerias.png");
	AddFile(zip, "img/faces/fountain/Zusy.png");
	zip.folder("img/faces/harp");
	AddFile(zip, "img/faces/harp/Excited.png");
	AddFile(zip, "img/faces/harp/Neutral.png");
	zip.folder("img/faces/hero");
	AddFile(zip, "img/faces/hero/ChosenOne.png");
	AddFile(zip, "img/faces/hero/Cleric.png");
	AddFile(zip, "img/faces/hero/Knight.png");
	AddFile(zip, "img/faces/hero/Rogue.png");
	zip.folder("img/faces/prince");
	AddFile(zip, "img/faces/prince/Appalled.png");
	AddFile(zip, "img/faces/prince/Head_Turn.png");
	AddFile(zip, "img/faces/prince/Look.png");
	AddFile(zip, "img/faces/prince/Look_Down.png");
	AddFile(zip, "img/faces/prince/Neutral.png");
	zip.folder("img/faces/tem");
	AddFile(zip, "img/faces/tem/Look_Down.png");
	AddFile(zip, "img/faces/tem/Neutral.png");
	zip.folder("img/faces/tigertaur");
	AddFile(zip, "img/faces/tigertaur/Grin.png");
	AddFile(zip, "img/faces/tigertaur/Neutral.png");
	zip.folder("img/faces/woof");
	AddFile(zip, "img/faces/woof/Awake.png");
	AddFile(zip, "img/faces/woof/KnockedOut.png");
	AddFile(zip, "img/faces/woof/Look.png");
	AddFile(zip, "img/faces/woof/Sleep.png");
	zip.folder("img/faces/yoki");
	AddFile(zip, "img/faces/yoki/Annoyed.png");
	AddFile(zip, "img/faces/yoki/Disheartened.png");
	AddFile(zip, "img/faces/yoki/Dizzy.png");
	AddFile(zip, "img/faces/yoki/Look.png");
	AddFile(zip, "img/faces/yoki/Meditative.png");
	AddFile(zip, "img/faces/yoki/Neutral.png");
	AddFile(zip, "img/faces/yoki/Smile.png");
	AddFile(zip, "img/faces/yoki/Surprised.png");
	AddFile(zip, "img/faces/yoki/Sweat_Drop.png");
	AddFile(zip, "img/faces/yoki/Think.png");
	AddFile(zip, "img/faces/yoki/Unsure.png");
	AddFile(zip, "img/faces/yoki/Unsure_Smile.png");
	AddFile(zip, "img/faces/yoki/Upset.png");
	zip.folder("img/faces/youngeryoki");
	AddFile(zip, "img/faces/youngeryoki/Concern.png");
	AddFile(zip, "img/faces/youngeryoki/Happy.png");
	AddFile(zip, "img/faces/youngeryoki/Look.png");
	AddFile(zip, "img/faces/youngeryoki/Neutral.png");
	AddFile(zip, "img/faces/youngeryoki/Sigh.png");
	zip.folder("img/faces/zera");
	AddFile(zip, "img/faces/zera/Look.png");
	AddFile(zip, "img/faces/zera/Neutral.png");
	AddFile(zip, "img/faces/zera/Pout.png");
	AddFile(zip, "img/faces/zera/Smile.png");
	AddFile(zip, "img/faces/zera/Sneer.png");
	AddFile(zip, "index.html");
	AddFile(zip, "LICENSE.md");
	AddFile(zip, "README.md");
	AddFile(zip, "ref.png");
	AddFile(zip, "styles.css");
	(async () => {
		const pluginRequest = await fetch("/js-plugins/DialogueSystem.js");
		const pluginData = await pluginRequest.blob();
		zip.file("DialogueSystem.js", pluginData);
		fileIndex++
	})();

	await new Promise(resolve => Loop.Append(() => {
		if (fileIndex === fileCount)
		{
			resolve();

			return;
		}

		donwloadBtn.textContent = `Packaging... (${fileIndex + 1}/${fileCount})`;
	}, null, () => fileIndex === fileCount));

    donwloadBtn.textContent = "Downloading...";
    const blob = await zip.generateAsync({ type: "blob" });
    saveAs(blob, "DialogueSystem.js Template - Dwellers Empty Path.zip");
	fileIndex = 0;

    await Loop.Delay(0.25);

    donwloadBtn.setAttribute("clicked", 0);
    donwloadBtn.textContent = "Download";
};

        </script>
    </body>
</html>