<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <meta name="theme-color" content="white"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
        
        
        <!------------SEO-->
        <!--Type--><meta property="og:type" content="website"/>
        <!--Title--><meta property="og:title" content="OneShot | DialogueSystem.js Templates"/>
        <!--URL--><meta property="og:url" content="https://calmbubbles.github.io/works/js-plugins/DialogueSystem/templates/oneshot"/>
        <!--Locale--><meta property="og:locale" content="en_US"/>
        <!--Keywords--><meta name="keywords" content="CalmBubbles, documentation, manual, JavaScript, html, js, DialogueSystem, dialogue, system">
        
        <!-------Description-->
        <meta property="og:description" content="A template based from the game &quot;OneShot&quot;"/>
        <meta name="description" content="A template based from the game &quot;OneShot&quot;"/>
        
        <!-------Image-->
        <meta property="og:image" content="https://calmbubbles.github.io/img/js-plugins.png"/>
        <!--Width--><meta property="og:image:width" content="440"/>
        <!--Height--><meta property="og:image:height" content="440"/>
        <!--Alt--><meta property="og:image:alt" content="OneShot | DialogueSystem.js Templates"/>
        
        <!-------Twitter Card-->
        <!--Type--><meta name="twitter:card" content="summary"/>
        <!--Title--><meta name="twitter:title" content="OneShot | DialogueSystem.js Templates"/>
        <!--Description--><meta name="twitter:description" content="A template based from the game &quot;OneShot&quot;"/>
        <!--Image--><meta name="twitter:image" content="https://calmbubbles.github.io/img/js-plugins.png"/>
        
        
        <!------------Site-->
        <!--Title--><title>OneShot | DialogueSystem.js Templates</title>
        <!--URL--><link rel="canonical" href="https://calmbubbles.github.io/works/js-plugins/DialogueSystem/templates/oneshot"/>
        
        <!-------Favicon-->
        <link rel="icon" sizes="256x256" href="/icons/js-plugins.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/icons/js-plugins.ico" type="image/x-icon"/>
        
        <!------------Styles-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <link href="/styles/rules.css" rel="stylesheet" type="text/css">
        <style>

#arrow
{
    background: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    padding: 6px;
    vertical-align: bottom;
    margin-left: 4px;
}

#arrow img
{
    width: 35.9011px;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: alternate arrow 0.25s steps(2, jump-none) infinite;
    pointer-events: none;
}

#download-btn
{
    padding: 15px 20px;
}

@keyframes arrow
{
    0% { bottom: -2.1924px; }

    50% { bottom: -4.3849px; }

    100% { bottom: -6.5772px; }
}

        </style>
    </head>
    
    <body data-site="4" hide-menu="1">
        <noscript><div>This site requires the use of JavaScript</div></noscript>
        
        <hr class="fadeObject">
        
        <header>
            <div id="btnMenu"><img class="unselectable" src="/img/spr_btnMenu.png" alt="Menu"></div>
            <a id="icon" class="icon" href="/works/js-plugins" rel="noreferrer noopener"><img class="unselectable" src="/img/js-plugins.png" alt="js-plugins"></a>
            <a id="icon_freeaspect" class="icon" href="/works/js-plugins" rel="noreferrer noopener"><img class="unselectable" src="/img/js-plugins_freeaspect.png" alt="js-plugins"></a>
            <a id="sideicon" class="icon" href="/" rel="noreferrer noopener"><img class="unselectable" src="/img/icon.png" alt="CalmBubbles"></a>
        </header>
        
        <div id="menuSection"></div>
        
        <main>
            <h1>OneShot</h1>

            <div class="doc-info">
                <a href="https://www.oneshot-game.com" target="_blank">Original game</a> by <a href="https://store.steampowered.com/search/?developer=Future%20Cat%20LLC" target="_blank">Future Cat LLC</a>
            </div>

            
            <h2>Preview</h2>

            <div class="codeoutputframe" data-src="/docs-examples/js-plugins/DialogueSystem/templates/oneshot?s=..%2F..%2Ftemp-prev/oneshot" data-width="full" data-relHeight="22.75" data-refreshable="true"></div><br>


            <h2>Additional Features</h2>

            <blockquote>
                • Arrow indicator <span id="arrow"><img src="/dialogue-templates/oneshot/img/arrow.png"></span>
            </blockquote><br>


            <h2>Doesn't Include</h2>

            <blockquote>
                • The april fools sprite and audio
            </blockquote><br>


            <h2 id="download-btn" class="textbtn">Download</h2><br>


            <h2>Credits & Licenses</h2>
            
            <blockquote>
                <h3>
                    This template is under a <a href="/dialogue-templates/oneshot/LICENSE.md" target="_blank">Non-commercial License</a>
                    <br><br>
                    Original game, <a href="https://www.oneshot-game.com" target="_blank">OneShot</a> by <a href="https://store.steampowered.com/search/?developer=Future%20Cat%20LLC" target="_blank">Future Cat LLC</a>
                </h3><br>
                
                • <strong><a href="https://terminus-font.sourceforge.net" target="_blank">Terminus font</a></strong>; Used under the <a href="/dialogue-templates/oneshot/fonts/TerminusTTF-Bold/LICENSE.md" target="_blank">SIL Open Font License</a>
            </blockquote><br>

            <h3>Version: 1f</h3>
			<h3>Source Code: <a href="https://github.com/calmbubbles/dialogue-templates#oneshot" target="_blank">github.com/calmbubbles/dialogue-templates#oneshot</a></h3>
            <h3>Last Updated: July 6, 2024</h3>
        </main>
        
        <script src="/js/main.js" type="text/javascript"></script>
        <script src="/js/CodeOutputs.js" type="text/javascript"></script>
        <script src="/js/JSZip/main.js" type="text/javascript"></script>
        <script src="/js/FileSaver/main.js" type="text/javascript"></script>
        <script>

const dir = "/dialogue-templates/oneshot";

async function AddFile (zip, src)
{
    const blobRequest = await fetch(`${dir}/${src}`);
    const blobData = await blobRequest.blob();

    zip.file(src, blobData);
}

const donwloadBtn = document.querySelector("#download-btn");
donwloadBtn.onclick = async () => {
    donwloadBtn.setAttribute("clicked", 1);

    const zip = new JSZip();

    zip.folder("audio");
	donwloadBtn.textContent = "Packaging... (1/217)";
	await AddFile(zip, "audio/text.wav");
	donwloadBtn.textContent = "Packaging... (2/217)";
	await AddFile(zip, "audio/text_robot.wav");
	zip.folder("fonts");
	zip.folder("fonts/TerminusTTF-Bold");
	donwloadBtn.textContent = "Packaging... (3/217)";
	await AddFile(zip, "fonts/TerminusTTF-Bold/LICENSE.md");
	donwloadBtn.textContent = "Packaging... (4/217)";
	await AddFile(zip, "fonts/TerminusTTF-Bold/main.ttf");
	zip.folder("img");
	donwloadBtn.textContent = "Packaging... (5/217)";
	await AddFile(zip, "img/arrow.png");
	donwloadBtn.textContent = "Packaging... (6/217)";
	await AddFile(zip, "img/box.png");
	zip.folder("img/Faces");
	donwloadBtn.textContent = "Packaging... (7/217)";
	await AddFile(zip, "img/Faces/alula.png");
	donwloadBtn.textContent = "Packaging... (8/217)";
	await AddFile(zip, "img/Faces/alula_gasp.png");
	donwloadBtn.textContent = "Packaging... (9/217)";
	await AddFile(zip, "img/Faces/alula_gasp2.png");
	donwloadBtn.textContent = "Packaging... (10/217)";
	await AddFile(zip, "img/Faces/alula_oh.png");
	donwloadBtn.textContent = "Packaging... (11/217)";
	await AddFile(zip, "img/Faces/alula_pout.png");
	donwloadBtn.textContent = "Packaging... (12/217)";
	await AddFile(zip, "img/Faces/alula_speak.png");
	donwloadBtn.textContent = "Packaging... (13/217)";
	await AddFile(zip, "img/Faces/blue_gatekeeper.png");
	donwloadBtn.textContent = "Packaging... (14/217)";
	await AddFile(zip, "img/Faces/bookbot.png");
	donwloadBtn.textContent = "Packaging... (15/217)";
	await AddFile(zip, "img/Faces/calamus.png");
	donwloadBtn.textContent = "Packaging... (16/217)";
	await AddFile(zip, "img/Faces/calamus_heh.png");
	donwloadBtn.textContent = "Packaging... (17/217)";
	await AddFile(zip, "img/Faces/calamus_sad.png");
	donwloadBtn.textContent = "Packaging... (18/217)";
	await AddFile(zip, "img/Faces/calamus_shame.png");
	donwloadBtn.textContent = "Packaging... (19/217)";
	await AddFile(zip, "img/Faces/calamus_shock.png");
	donwloadBtn.textContent = "Packaging... (20/217)";
	await AddFile(zip, "img/Faces/calamus_smile.png");
	donwloadBtn.textContent = "Packaging... (21/217)";
	await AddFile(zip, "img/Faces/calamus_smile2.png");
	donwloadBtn.textContent = "Packaging... (22/217)";
	await AddFile(zip, "img/Faces/calamus_speak.png");
	donwloadBtn.textContent = "Packaging... (23/217)";
	await AddFile(zip, "img/Faces/calamus_unknown.png");
	donwloadBtn.textContent = "Packaging... (24/217)";
	await AddFile(zip, "img/Faces/cedric.png");
	donwloadBtn.textContent = "Packaging... (25/217)";
	await AddFile(zip, "img/Faces/cedric2.png");
	donwloadBtn.textContent = "Packaging... (26/217)";
	await AddFile(zip, "img/Faces/cedric3.png");
	donwloadBtn.textContent = "Packaging... (27/217)";
	await AddFile(zip, "img/Faces/cedric4.png");
	donwloadBtn.textContent = "Packaging... (28/217)";
	await AddFile(zip, "img/Faces/cedric_eek.png");
	donwloadBtn.textContent = "Packaging... (29/217)";
	await AddFile(zip, "img/Faces/cedric_hmm.png");
	donwloadBtn.textContent = "Packaging... (30/217)";
	await AddFile(zip, "img/Faces/cedric_sigh.png");
	donwloadBtn.textContent = "Packaging... (31/217)";
	await AddFile(zip, "img/Faces/cedric_sigh2.png");
	donwloadBtn.textContent = "Packaging... (32/217)";
	await AddFile(zip, "img/Faces/cedric_smile.png");
	donwloadBtn.textContent = "Packaging... (33/217)";
	await AddFile(zip, "img/Faces/cedric_talk.png");
	donwloadBtn.textContent = "Packaging... (34/217)";
	await AddFile(zip, "img/Faces/cedric_upset.png");
	donwloadBtn.textContent = "Packaging... (35/217)";
	await AddFile(zip, "img/Faces/en.png");
	donwloadBtn.textContent = "Packaging... (36/217)";
	await AddFile(zip, "img/Faces/en2.png");
	donwloadBtn.textContent = "Packaging... (37/217)";
	await AddFile(zip, "img/Faces/en3.png");
	donwloadBtn.textContent = "Packaging... (38/217)";
	await AddFile(zip, "img/Faces/en4.png");
	donwloadBtn.textContent = "Packaging... (39/217)";
	await AddFile(zip, "img/Faces/en5.png");
	donwloadBtn.textContent = "Packaging... (40/217)";
	await AddFile(zip, "img/Faces/en6.png");
	donwloadBtn.textContent = "Packaging... (41/217)";
	await AddFile(zip, "img/Faces/en_83c.png");
	donwloadBtn.textContent = "Packaging... (42/217)";
	await AddFile(zip, "img/Faces/en_cry.png");
	donwloadBtn.textContent = "Packaging... (43/217)";
	await AddFile(zip, "img/Faces/en_distressed.png");
	donwloadBtn.textContent = "Packaging... (44/217)";
	await AddFile(zip, "img/Faces/en_distressed2.png");
	donwloadBtn.textContent = "Packaging... (45/217)";
	await AddFile(zip, "img/Faces/en_distressed_meow.png");
	donwloadBtn.textContent = "Packaging... (46/217)";
	await AddFile(zip, "img/Faces/en_distressed_talk.png");
	donwloadBtn.textContent = "Packaging... (47/217)";
	await AddFile(zip, "img/Faces/en_eyeclosed.png");
	donwloadBtn.textContent = "Packaging... (48/217)";
	await AddFile(zip, "img/Faces/en_eyeclosed2.png");
	donwloadBtn.textContent = "Packaging... (49/217)";
	await AddFile(zip, "img/Faces/en_gasmask.png");
	donwloadBtn.textContent = "Packaging... (50/217)";
	await AddFile(zip, "img/Faces/en_huh.png");
	donwloadBtn.textContent = "Packaging... (51/217)";
	await AddFile(zip, "img/Faces/en_less_sad.png");
	donwloadBtn.textContent = "Packaging... (52/217)";
	await AddFile(zip, "img/Faces/en_pancakes.png");
	donwloadBtn.textContent = "Packaging... (53/217)";
	await AddFile(zip, "img/Faces/en_sad.png");
	donwloadBtn.textContent = "Packaging... (54/217)";
	await AddFile(zip, "img/Faces/en_shock.png");
	donwloadBtn.textContent = "Packaging... (55/217)";
	await AddFile(zip, "img/Faces/en_smile.png");
	donwloadBtn.textContent = "Packaging... (56/217)";
	await AddFile(zip, "img/Faces/en_speak.png");
	donwloadBtn.textContent = "Packaging... (57/217)";
	await AddFile(zip, "img/Faces/en_surprised.png");
	donwloadBtn.textContent = "Packaging... (58/217)";
	await AddFile(zip, "img/Faces/en_upset.png");
	donwloadBtn.textContent = "Packaging... (59/217)";
	await AddFile(zip, "img/Faces/en_upset2.png");
	donwloadBtn.textContent = "Packaging... (60/217)";
	await AddFile(zip, "img/Faces/en_upset_meow.png");
	donwloadBtn.textContent = "Packaging... (61/217)";
	await AddFile(zip, "img/Faces/en_what.png");
	donwloadBtn.textContent = "Packaging... (62/217)";
	await AddFile(zip, "img/Faces/en_what2.png");
	donwloadBtn.textContent = "Packaging... (63/217)";
	await AddFile(zip, "img/Faces/en_wtf.png");
	donwloadBtn.textContent = "Packaging... (64/217)";
	await AddFile(zip, "img/Faces/en_wtf2.png");
	donwloadBtn.textContent = "Packaging... (65/217)";
	await AddFile(zip, "img/Faces/en_yawn.png");
	donwloadBtn.textContent = "Packaging... (66/217)";
	await AddFile(zip, "img/Faces/george1.png");
	donwloadBtn.textContent = "Packaging... (67/217)";
	await AddFile(zip, "img/Faces/george1_hm.png");
	donwloadBtn.textContent = "Packaging... (68/217)";
	await AddFile(zip, "img/Faces/george1_smile.png");
	donwloadBtn.textContent = "Packaging... (69/217)";
	await AddFile(zip, "img/Faces/george1_smug.png");
	donwloadBtn.textContent = "Packaging... (70/217)";
	await AddFile(zip, "img/Faces/george2.png");
	donwloadBtn.textContent = "Packaging... (71/217)";
	await AddFile(zip, "img/Faces/george2_grr.png");
	donwloadBtn.textContent = "Packaging... (72/217)";
	await AddFile(zip, "img/Faces/george2_NO.png");
	donwloadBtn.textContent = "Packaging... (73/217)";
	await AddFile(zip, "img/Faces/george2_sigh.png");
	donwloadBtn.textContent = "Packaging... (74/217)";
	await AddFile(zip, "img/Faces/george2_stress.png");
	donwloadBtn.textContent = "Packaging... (75/217)";
	await AddFile(zip, "img/Faces/george3.png");
	donwloadBtn.textContent = "Packaging... (76/217)";
	await AddFile(zip, "img/Faces/george3_cry.png");
	donwloadBtn.textContent = "Packaging... (77/217)";
	await AddFile(zip, "img/Faces/george3_sad.png");
	donwloadBtn.textContent = "Packaging... (78/217)";
	await AddFile(zip, "img/Faces/george3_sigh.png");
	donwloadBtn.textContent = "Packaging... (79/217)";
	await AddFile(zip, "img/Faces/george3_worry.png");
	donwloadBtn.textContent = "Packaging... (80/217)";
	await AddFile(zip, "img/Faces/george4.png");
	donwloadBtn.textContent = "Packaging... (81/217)";
	await AddFile(zip, "img/Faces/george4_golly.png");
	donwloadBtn.textContent = "Packaging... (82/217)";
	await AddFile(zip, "img/Faces/george4_omg.png");
	donwloadBtn.textContent = "Packaging... (83/217)";
	await AddFile(zip, "img/Faces/george4_oops.png");
	donwloadBtn.textContent = "Packaging... (84/217)";
	await AddFile(zip, "img/Faces/george4_smile.png");
	donwloadBtn.textContent = "Packaging... (85/217)";
	await AddFile(zip, "img/Faces/george5.png");
	donwloadBtn.textContent = "Packaging... (86/217)";
	await AddFile(zip, "img/Faces/george5_aww.png");
	donwloadBtn.textContent = "Packaging... (87/217)";
	await AddFile(zip, "img/Faces/george5_heh.png");
	donwloadBtn.textContent = "Packaging... (88/217)";
	await AddFile(zip, "img/Faces/george5_hmm.png");
	donwloadBtn.textContent = "Packaging... (89/217)";
	await AddFile(zip, "img/Faces/george5_sad.png");
	donwloadBtn.textContent = "Packaging... (90/217)";
	await AddFile(zip, "img/Faces/george5_sigh.png");
	donwloadBtn.textContent = "Packaging... (91/217)";
	await AddFile(zip, "img/Faces/george5_smile.png");
	donwloadBtn.textContent = "Packaging... (92/217)";
	await AddFile(zip, "img/Faces/george6.png");
	donwloadBtn.textContent = "Packaging... (93/217)";
	await AddFile(zip, "img/Faces/george6_fingerguns.png");
	donwloadBtn.textContent = "Packaging... (94/217)";
	await AddFile(zip, "img/Faces/george6_point.png");
	donwloadBtn.textContent = "Packaging... (95/217)";
	await AddFile(zip, "img/Faces/george6_shrug.png");
	donwloadBtn.textContent = "Packaging... (96/217)";
	await AddFile(zip, "img/Faces/george6_smile.png");
	donwloadBtn.textContent = "Packaging... (97/217)";
	await AddFile(zip, "img/Faces/green_gatekeeper.png");
	donwloadBtn.textContent = "Packaging... (98/217)";
	await AddFile(zip, "img/Faces/kelvin.png");
	donwloadBtn.textContent = "Packaging... (99/217)";
	await AddFile(zip, "img/Faces/kip.png");
	donwloadBtn.textContent = "Packaging... (100/217)";
	await AddFile(zip, "img/Faces/kip2.png");
	donwloadBtn.textContent = "Packaging... (101/217)";
	await AddFile(zip, "img/Faces/kip_heh.png");
	donwloadBtn.textContent = "Packaging... (102/217)";
	await AddFile(zip, "img/Faces/kip_huh.png");
	donwloadBtn.textContent = "Packaging... (103/217)";
	await AddFile(zip, "img/Faces/kip_pout.png");
	donwloadBtn.textContent = "Packaging... (104/217)";
	await AddFile(zip, "img/Faces/kip_sad.png");
	donwloadBtn.textContent = "Packaging... (105/217)";
	await AddFile(zip, "img/Faces/kip_sigh.png");
	donwloadBtn.textContent = "Packaging... (106/217)";
	await AddFile(zip, "img/Faces/kip_wink.png");
	donwloadBtn.textContent = "Packaging... (107/217)";
	await AddFile(zip, "img/Faces/kip_worry.png");
	donwloadBtn.textContent = "Packaging... (108/217)";
	await AddFile(zip, "img/Faces/ling.png");
	donwloadBtn.textContent = "Packaging... (109/217)";
	await AddFile(zip, "img/Faces/ling2.png");
	donwloadBtn.textContent = "Packaging... (110/217)";
	await AddFile(zip, "img/Faces/ling3.png");
	donwloadBtn.textContent = "Packaging... (111/217)";
	await AddFile(zip, "img/Faces/ling_hm.png");
	donwloadBtn.textContent = "Packaging... (112/217)";
	await AddFile(zip, "img/Faces/ling_hm2.png");
	donwloadBtn.textContent = "Packaging... (113/217)";
	await AddFile(zip, "img/Faces/ling_oh.png");
	donwloadBtn.textContent = "Packaging... (114/217)";
	await AddFile(zip, "img/Faces/ling_shock.png");
	donwloadBtn.textContent = "Packaging... (115/217)";
	await AddFile(zip, "img/Faces/ling_sigh.png");
	donwloadBtn.textContent = "Packaging... (116/217)";
	await AddFile(zip, "img/Faces/ling_smile.png");
	donwloadBtn.textContent = "Packaging... (117/217)";
	await AddFile(zip, "img/Faces/magpie.png");
	donwloadBtn.textContent = "Packaging... (118/217)";
	await AddFile(zip, "img/Faces/magpie_hm.png");
	donwloadBtn.textContent = "Packaging... (119/217)";
	await AddFile(zip, "img/Faces/magpie_oh.png");
	donwloadBtn.textContent = "Packaging... (120/217)";
	await AddFile(zip, "img/Faces/magpie_smile.png");
	donwloadBtn.textContent = "Packaging... (121/217)";
	await AddFile(zip, "img/Faces/maize.png");
	donwloadBtn.textContent = "Packaging... (122/217)";
	await AddFile(zip, "img/Faces/maize_smile1.png");
	donwloadBtn.textContent = "Packaging... (123/217)";
	await AddFile(zip, "img/Faces/maize_smile2.png");
	donwloadBtn.textContent = "Packaging... (124/217)";
	await AddFile(zip, "img/Faces/maize_strain.png");
	donwloadBtn.textContent = "Packaging... (125/217)";
	await AddFile(zip, "img/Faces/maize_stress.png");
	donwloadBtn.textContent = "Packaging... (126/217)";
	await AddFile(zip, "img/Faces/maize_thisisfine.png");
	donwloadBtn.textContent = "Packaging... (127/217)";
	await AddFile(zip, "img/Faces/mason.png");
	donwloadBtn.textContent = "Packaging... (128/217)";
	await AddFile(zip, "img/Faces/niko.png");
	donwloadBtn.textContent = "Packaging... (129/217)";
	await AddFile(zip, "img/Faces/niko2.png");
	donwloadBtn.textContent = "Packaging... (130/217)";
	await AddFile(zip, "img/Faces/niko3.png");
	donwloadBtn.textContent = "Packaging... (131/217)";
	await AddFile(zip, "img/Faces/niko4.png");
	donwloadBtn.textContent = "Packaging... (132/217)";
	await AddFile(zip, "img/Faces/niko5.png");
	donwloadBtn.textContent = "Packaging... (133/217)";
	await AddFile(zip, "img/Faces/niko6.png");
	donwloadBtn.textContent = "Packaging... (134/217)";
	await AddFile(zip, "img/Faces/niko_83c.png");
	donwloadBtn.textContent = "Packaging... (135/217)";
	await AddFile(zip, "img/Faces/niko_cry.png");
	donwloadBtn.textContent = "Packaging... (136/217)";
	await AddFile(zip, "img/Faces/niko_distressed.png");
	donwloadBtn.textContent = "Packaging... (137/217)";
	await AddFile(zip, "img/Faces/niko_distressed2.png");
	donwloadBtn.textContent = "Packaging... (138/217)";
	await AddFile(zip, "img/Faces/niko_distressed_meow.png");
	donwloadBtn.textContent = "Packaging... (139/217)";
	await AddFile(zip, "img/Faces/niko_distressed_talk.png");
	donwloadBtn.textContent = "Packaging... (140/217)";
	await AddFile(zip, "img/Faces/niko_eyeclosed.png");
	donwloadBtn.textContent = "Packaging... (141/217)";
	await AddFile(zip, "img/Faces/niko_eyeclosed2.png");
	donwloadBtn.textContent = "Packaging... (142/217)";
	await AddFile(zip, "img/Faces/niko_gasmask.png");
	donwloadBtn.textContent = "Packaging... (143/217)";
	await AddFile(zip, "img/Faces/niko_huh.png");
	donwloadBtn.textContent = "Packaging... (144/217)";
	await AddFile(zip, "img/Faces/niko_less_sad.png");
	donwloadBtn.textContent = "Packaging... (145/217)";
	await AddFile(zip, "img/Faces/niko_pancakes.png");
	donwloadBtn.textContent = "Packaging... (146/217)";
	await AddFile(zip, "img/Faces/niko_sad.png");
	donwloadBtn.textContent = "Packaging... (147/217)";
	await AddFile(zip, "img/Faces/niko_shock.png");
	donwloadBtn.textContent = "Packaging... (148/217)";
	await AddFile(zip, "img/Faces/niko_smile.png");
	donwloadBtn.textContent = "Packaging... (149/217)";
	await AddFile(zip, "img/Faces/niko_speak.png");
	donwloadBtn.textContent = "Packaging... (150/217)";
	await AddFile(zip, "img/Faces/niko_surprised.png");
	donwloadBtn.textContent = "Packaging... (151/217)";
	await AddFile(zip, "img/Faces/niko_upset.png");
	donwloadBtn.textContent = "Packaging... (152/217)";
	await AddFile(zip, "img/Faces/niko_upset2.png");
	donwloadBtn.textContent = "Packaging... (153/217)";
	await AddFile(zip, "img/Faces/niko_upset_meow.png");
	donwloadBtn.textContent = "Packaging... (154/217)";
	await AddFile(zip, "img/Faces/niko_what.png");
	donwloadBtn.textContent = "Packaging... (155/217)";
	await AddFile(zip, "img/Faces/niko_what2.png");
	donwloadBtn.textContent = "Packaging... (156/217)";
	await AddFile(zip, "img/Faces/niko_wtf.png");
	donwloadBtn.textContent = "Packaging... (157/217)";
	await AddFile(zip, "img/Faces/niko_wtf2.png");
	donwloadBtn.textContent = "Packaging... (158/217)";
	await AddFile(zip, "img/Faces/niko_yawn.png");
	donwloadBtn.textContent = "Packaging... (159/217)";
	await AddFile(zip, "img/Faces/plight.png");
	donwloadBtn.textContent = "Packaging... (160/217)";
	await AddFile(zip, "img/Faces/plight3.png");
	donwloadBtn.textContent = "Packaging... (161/217)";
	await AddFile(zip, "img/Faces/plight_2.png");
	donwloadBtn.textContent = "Packaging... (162/217)";
	await AddFile(zip, "img/Faces/plight_2b.png");
	donwloadBtn.textContent = "Packaging... (163/217)";
	await AddFile(zip, "img/Faces/plight_scared.png");
	donwloadBtn.textContent = "Packaging... (164/217)";
	await AddFile(zip, "img/Faces/plight_shock.png");
	donwloadBtn.textContent = "Packaging... (165/217)";
	await AddFile(zip, "img/Faces/plight_sigh.png");
	donwloadBtn.textContent = "Packaging... (166/217)";
	await AddFile(zip, "img/Faces/plight_unknown.png");
	donwloadBtn.textContent = "Packaging... (167/217)";
	await AddFile(zip, "img/Faces/plight_why.png");
	donwloadBtn.textContent = "Packaging... (168/217)";
	await AddFile(zip, "img/Faces/plight_worry.png");
	donwloadBtn.textContent = "Packaging... (169/217)";
	await AddFile(zip, "img/Faces/plight_worry2.png");
	donwloadBtn.textContent = "Packaging... (170/217)";
	await AddFile(zip, "img/Faces/plight_wtf.png");
	donwloadBtn.textContent = "Packaging... (171/217)";
	await AddFile(zip, "img/Faces/prophet.png");
	donwloadBtn.textContent = "Packaging... (172/217)";
	await AddFile(zip, "img/Faces/prophet_hmm.png");
	donwloadBtn.textContent = "Packaging... (173/217)";
	await AddFile(zip, "img/Faces/prophet_omg.png");
	donwloadBtn.textContent = "Packaging... (174/217)";
	await AddFile(zip, "img/Faces/prophet_sigh.png");
	donwloadBtn.textContent = "Packaging... (175/217)";
	await AddFile(zip, "img/Faces/proto1.png");
	donwloadBtn.textContent = "Packaging... (176/217)";
	await AddFile(zip, "img/Faces/proto1b.png");
	donwloadBtn.textContent = "Packaging... (177/217)";
	await AddFile(zip, "img/Faces/proto1c.png");
	donwloadBtn.textContent = "Packaging... (178/217)";
	await AddFile(zip, "img/Faces/proto2.png");
	donwloadBtn.textContent = "Packaging... (179/217)";
	await AddFile(zip, "img/Faces/proto2b.png");
	donwloadBtn.textContent = "Packaging... (180/217)";
	await AddFile(zip, "img/Faces/proto_disk.png");
	donwloadBtn.textContent = "Packaging... (181/217)";
	await AddFile(zip, "img/Faces/proto_eyeclosed.png");
	donwloadBtn.textContent = "Packaging... (182/217)";
	await AddFile(zip, "img/Faces/proto_gasp1.png");
	donwloadBtn.textContent = "Packaging... (183/217)";
	await AddFile(zip, "img/Faces/proto_gasp2.png");
	donwloadBtn.textContent = "Packaging... (184/217)";
	await AddFile(zip, "img/Faces/proto_jealous.png");
	donwloadBtn.textContent = "Packaging... (185/217)";
	await AddFile(zip, "img/Faces/red_gatekeeper.png");
	donwloadBtn.textContent = "Packaging... (186/217)";
	await AddFile(zip, "img/Faces/rowbot.png");
	donwloadBtn.textContent = "Packaging... (187/217)";
	await AddFile(zip, "img/Faces/rowbot_off.png");
	donwloadBtn.textContent = "Packaging... (188/217)";
	await AddFile(zip, "img/Faces/rue.png");
	donwloadBtn.textContent = "Packaging... (189/217)";
	await AddFile(zip, "img/Faces/rue_dark.png");
	donwloadBtn.textContent = "Packaging... (190/217)";
	await AddFile(zip, "img/Faces/rue_oh.png");
	donwloadBtn.textContent = "Packaging... (191/217)";
	await AddFile(zip, "img/Faces/rue_sad.png");
	donwloadBtn.textContent = "Packaging... (192/217)";
	await AddFile(zip, "img/Faces/rue_sigh.png");
	donwloadBtn.textContent = "Packaging... (193/217)";
	await AddFile(zip, "img/Faces/rue_smile.png");
	donwloadBtn.textContent = "Packaging... (194/217)";
	await AddFile(zip, "img/Faces/rue_talk.png");
	donwloadBtn.textContent = "Packaging... (195/217)";
	await AddFile(zip, "img/Faces/rue_ttt.png");
	donwloadBtn.textContent = "Packaging... (196/217)";
	await AddFile(zip, "img/Faces/shepherd.png");
	donwloadBtn.textContent = "Packaging... (197/217)";
	await AddFile(zip, "img/Faces/silver.png");
	donwloadBtn.textContent = "Packaging... (198/217)";
	await AddFile(zip, "img/Faces/silver2.png");
	donwloadBtn.textContent = "Packaging... (199/217)";
	await AddFile(zip, "img/Faces/silver3.png");
	donwloadBtn.textContent = "Packaging... (200/217)";
	await AddFile(zip, "img/Faces/silver_eyeclosed.png");
	donwloadBtn.textContent = "Packaging... (201/217)";
	await AddFile(zip, "img/Faces/silver_falling.png");
	donwloadBtn.textContent = "Packaging... (202/217)";
	await AddFile(zip, "img/Faces/silver_GETOUT.png");
	donwloadBtn.textContent = "Packaging... (203/217)";
	await AddFile(zip, "img/Faces/silver_lookup.png");
	donwloadBtn.textContent = "Packaging... (204/217)";
	await AddFile(zip, "img/Faces/silver_rip.png");
	donwloadBtn.textContent = "Packaging... (205/217)";
	await AddFile(zip, "img/Faces/silver_rip0.png");
	donwloadBtn.textContent = "Packaging... (206/217)";
	await AddFile(zip, "img/Faces/silver_rip2.png");
	donwloadBtn.textContent = "Packaging... (207/217)";
	await AddFile(zip, "img/Faces/silver_square1.png");
	donwloadBtn.textContent = "Packaging... (208/217)";
	await AddFile(zip, "img/Faces/silver_square2.png");
	donwloadBtn.textContent = "Packaging... (209/217)";
	await AddFile(zip, "img/Faces/silver_worry.png");
	donwloadBtn.textContent = "Packaging... (210/217)";
	await AddFile(zip, "img/Faces/watcher.png");
	donwloadBtn.textContent = "Packaging... (211/217)";
	await AddFile(zip, "index.html");
	donwloadBtn.textContent = "Packaging... (212/217)";
	await AddFile(zip, "LICENSE.md");
	donwloadBtn.textContent = "Packaging... (213/217)";
	await AddFile(zip, "README.md");
	donwloadBtn.textContent = "Packaging... (214/217)";
	await AddFile(zip, "ref.png");
	donwloadBtn.textContent = "Packaging... (215/217)";
	await AddFile(zip, "ref1.png");
	donwloadBtn.textContent = "Packaging... (216/217)";
	await AddFile(zip, "styles.css");
	donwloadBtn.textContent = "Packaging... (217/217)";
	const pluginRequest = await fetch("/js-plugins/DialogueSystem.js");
	const pluginData = await pluginRequest.blob();
	zip.file("DialogueSystem.js", pluginData);

    donwloadBtn.textContent = "Downloading...";
    const blob = await zip.generateAsync({ type: "blob" });
    saveAs(blob, "DialogueSystem.js Template - OneShot.zip");

    await Loop.Delay(0.25);

    donwloadBtn.setAttribute("clicked", 0);
    donwloadBtn.textContent = "Download";
};

        </script>
    </body>
</html>